<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#ffffff">

    <meta name="<%= name %> <<%= email %>>" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">

    <title><%= project %></title>

  </head>
  <body>
    <h1>Check out my new project: <%= project %>!<h1>

    <!-- Scripts -->
    <script type="text/javascript" src="scripts.js"></script>
  </body>
</html>
