{
    // Environments check if format is correct
    "browser": true,
    "node": true,
    "es6": true,
    "plugins": [
        "html",
        "markdown",
        "json-format",
        "filenames"
    ],
    "rules": {}
    "settings": {
        "html/indent": "+4",
        "html/report-bad-indent": "warn"
    }
}
